<div class="main main-raised">
  <br>
  <app-loader [hidden]="!!recordObject"></app-loader>
  <div *ngIf="recordObject">
    <app-records-editor-component (readyStateChange)="readyChange($event)" #editor
                                  [editorTitle]="'Update release details'"
                                  [(record)]="recordObject"></app-records-editor-component>
    <div class="row container-fluid">
      <div class="col-12 col-sm-9 offset-3">
        <div class="container-fluid">
          <div class="form-group">
            <form class="validate-comment" novalidate>
              <h4>Revision comments</h4>
              <textarea type="text" class="form-control" name="release-update-comments" [(ngModel)]="revisionComments"
                        required></textarea>
              <div class="invalid-feedback">
                Please enter a comment describing your revision
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row col-12">
      <div class="col-12 col-sm-9 offset-3">
        <div class="container-fluid">
          <form>
            <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!ready">
                Save
              </button>
              <button type="button" class="btn btn-primary ml-1" [routerLink]="['/records',recordObject.id, 'view']"
                      [disabled]="!ready">Discard
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
