<div class="main main-raised">
  <br>
  <div class="ml-5 mr-5 mt-3 mb-3">

    <div class="row">

      <div class="col-sm-6 col-9">
        <div class="input-group">
          <input (focus)="loadAutoComplete($event)" (blur)="exitSearch()" (keyup)="loadAutoComplete($event)" type="text"
                 class="form-control"
                 placeholder="Search forum..." aria-label="Search for posts"
                 aria-describedby="button-addon2" name="search-query" [(ngModel)]="query">
          <button mat-button class="btn btn-default m-1" type="button" id="button-addon2" (click)="search()">Search
          </button>
          <div *ngIf="(autocomplete | async)?.posts.length > 0" style="background-color: #fff; left: 0;">
            <div
              style="z-index: 99; position: absolute; top: 100%; left: 0; right: 0; background-color: #fff; overflow: hidden">
              <table class="table table-hover table-bordered shadow">
                <tbody>
                <tr *ngFor="let p of (autocomplete | async)?.posts">
                  <td>
                    <a [routerLink]="['/forum', p.id, 'view']">
                      <strong>{{_.truncate(p.postTitle, {length: 60})}}</strong>
                      <br>
                      <em>
                        Posted by {{_.truncate(p.ownerName, {length: 60})}}
                      </em>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="auth.user; else showLogin" class="col-sm-6 col-3">
        <div class="float-right">
          <button mat-button type="button" class="btn btn-default m-1" routerLink="/forum/editor">
            New
          </button>
        </div>
      </div>
      <ng-template #showLogin>
        <div class="col-sm-6 col-3">
          <div class="float-right">
            <button mat-button type="button" class="btn btn-success m-1" (click)="auth.login()">
              Login!
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="loader.isHidden() && !_.isEmpty(_.trim((route.queryParams | async)?.query))"
       class="ml-5 mr-5 mt-1 mb-2 text-dark">
    Search results for - <em>{{_.truncate(query, {length: 100})}}</em> (<a [routerLink]="['/forum']">cancel</a>)
  </div>
  <br>
  <div class="row container-fluid m-0">
    <div class="col-12 col-lg-3">
      <mat-accordion multi>
        <mat-expansion-panel hideToggle [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Welcome to our forum!
            </mat-panel-title>
          </mat-expansion-panel-header>
          <hr>
          <p>This is your arena for technical and general discussions.
            We have enabled comment facility to provide a better user experience.
            Stay tuned for more features soon!.
          </p>
          <!--<button mat-raised-button color="primary" class="btn-block">-->
            <!--Technical-->
          <!--</button>-->
          <!--<button mat-raised-button color="warn" class="btn-block">-->
            <!--General Discussion-->
          <!--</button>-->

        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </div>
    <div class="col-12 col-lg-9">
      <app-loader #forumloader></app-loader>
      <div *ngFor="let post of posts" class="mb-2">
        <div class="card m-0">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-sm-2">
                  <img src="{{post.ownerPic}}" (error)="post.ownerPic='/assets/images/records-new-sample.svg'"
                       style="max-width: 64px; max-height: 64px" class="rounded-circle img-fluid">
                </div>

                <div class="col-12 col-sm-10">

                  <a routerLink="/forum/{{post.id}}/view"><h4 class="card-title">{{post.postTitle}}</h4></a>
                  <h6 class="card-subtitle mb-2 text-muted">By {{post.ownerName}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav *ngIf="count > limit && loader.isHidden()" aria-label="Page navigation">
    <mat-paginator showFirstLastButtons [length]="count"
                   [pageSize]="limit" [pageIndex]="page-1" (page)="changePage($event)"></mat-paginator>
  </nav>
</div>
