<div class="profile-page">
  <div class="main main-raised">
    <br>
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div *ngIf="(user | async)" class="profile">
              <div class="avatar">
                <img [src]="(user | async)?.picture" alt="Profile picture" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">{{(user | async)?.name}}</h3>
                <h6>{{(user | async)?.email}}</h6>
              </div>
            </div>
          </div>
        </div>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="'records'" routerLinkActive="active">My Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'forum'">My Forum Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'market'">My Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'update-profile'" routerLinkActive="active">Update My Profile</a>
          </li>
        </ul>
        <router-outlet></router-outlet>
        <br>
      </div>
    </div>
  </div>

</div>
