<hr />
<div class="container">
  <h3>Manage Forum</h3>
  <hr />
  <app-loader [hidden]="!loading"></app-loader>
  <mat-list role="list">
    @for (p of posts; track p) {
      <mat-list-item
        role="listitem"
        class="hover:bg-slate-100"
        >
        <img
          matListItemAvatar
          [src]="'/assets/images/records-new-sample.svg'"
          alt="..."
          />
        <h3 class="pr-[96px]" matListItemTitle>{{ p.postTitle }}</h3>
        <p matListItemLine>
          posted on: {{ p.createdAt | date: "medium" }}
          <span class="absolute top-0 right-0 h-full pt-[12px]">
            <a
              mat-icon-button
              target="_blank"
              color="primary"
              [routerLink]="['/forum', p.id, 'view']"
              >
              <mat-icon>open_in_new</mat-icon>
            </a>
            <button mat-icon-button color="primary" (click)="delete(p.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </p>
      </mat-list-item>
    }
  </mat-list>
  @if (count > limit && !loading) {
    <nav aria-label="Page navigation">
      <mat-paginator
        class="bg-slate-50"
        showFirstLastButtons
        [length]="count"
        [pageSize]="limit"
        [pageIndex]="page - 1"
        (page)="changePage($event)"
      ></mat-paginator>
    </nav>
  }
</div>
