<hr>
<app-loader #loader></app-loader>
<div class="col-sm-10 offset-1">
  <mat-list role="list">
    <mat-list-item *ngFor="let p of posts" role="listitem">
      <img matListAvatar [src]="'/assets/images/records-new-sample.svg'" alt="...">
      <h3 matLine>{{p.postTitle}} - posted on: {{p.createdAt | date:'mediumDate'}}</h3>
      <div class="row float-right" style="flex-wrap: nowrap;">
        <a target="_blank" [routerLink]="['/forum',p.id,'view']" mat-button>
          <mat-icon>open_in_new</mat-icon>
        </a>
        <a mat-button>
          <mat-icon (click)="delete(p.id)">delete</mat-icon>
        </a>
      </div>
    </mat-list-item>
  </mat-list>
  <nav *ngIf="count > limit && loader.isHidden()" aria-label="Page navigation">
    <mat-paginator showFirstLastButtons [length]="count" [pageSize]="limit" [pageIndex]="page-1" (page)="changePage($event)"></mat-paginator>
  </nav>
</div>
