<div class="main main-raised">
  <br>
  <div class="ml-5 mr-5 mt-3 mb-3">
    <div class="row">
      <div class="col-sm-6 col-9">
        <div class="input-group">
          <input (focus)="loadAutoComplete($event)" (blur)="exitSearch()" (keyup)="loadAutoComplete($event)" type="text"
                 class="form-control"
                 placeholder="Search forum..." aria-label="Search for posts"
                 aria-describedby="button-addon2" name="search-query" [(ngModel)]="query">
          <button mat-button class="btn btn-default m-1" type="button" id="button-addon2" (click)="search()">Search</button>
          <div *ngIf="(autocomplete | async)?.posts.length > 0" style="background-color: #fff; left: 0;">
            <div
              style="z-index: 99; position: absolute; top: 100%; left: 0; right: 0; background-color: #fff; overflow: hidden">
              <table class="table table-hover table-bordered shadow">
                <tbody>
                <tr *ngFor="let p of (autocomplete | async)?.posts">
                  <td>
                    <a [routerLink]="['/forum', p.id, 'view']">
                      <strong>{{_.truncate(p.postTitle, {length: 60})}}</strong>
                      <br>
                      <em>
                        Posted by {{_.truncate(p.ownerName, {length: 60})}}
                      </em>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="auth.user; else showLogin" class="col-sm-6 col-3">
        <div class="float-right">
          <button mat-button type="button" class="btn btn-default m-1" routerLink="/forum/editor">
            New
          </button>
        </div>
      </div>
      <ng-template #showLogin>
        <div class="col-sm-6 col-3">
          <div class="float-right">
            <button mat-button type="button" class="btn btn-success m-1" (click)="auth.login()">
              Login!
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <app-loader #forumloader></app-loader>
  <div *ngIf="loader.isHidden() && !_.isEmpty(_.trim((route.queryParams | async)?.query))"
       class="ml-5 mr-5 mt-1 mb-2 text-dark">
    Search results for - <em>{{_.truncate(query, {length: 100})}}</em> (<a [routerLink]="['/forum']">cancel</a>)
  </div>
  <br>
  <div *ngFor="let post of posts" class="m-1">
    <div class="card w-100">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-1">
            <img src="{{post.ownerPic}}" style="max-width: 64px; max-height: 64px" class="mr-3" alt="...">
          </div>
          <div class="col-sm-11">
            <a routerLink="/forum/{{post.id}}/view"><h3 class="card-title">{{post.postTitle}}</h3></a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">By {{post.ownerName}}</h6>
      </div>
    </div>
    <br>
  </div>

  <nav *ngIf="count > limit && loader.isHidden()" aria-label="Page navigation">
    <mat-paginator showFirstLastButtons [length]="count"
                   [pageSize]="limit" [pageIndex]="page-1" (page)="changePage($event)"></mat-paginator>
  </nav>
</div>
