<app-navbar></app-navbar>
<div
  class="flex h-[240px] items-center overflow-hidden bg-cover bg-center px-6 pt-16 sm:h-[400px] sm:items-start sm:px-0 sm:pt-0"
  style="background-image: url(&quot;../assets/images/profile_city.jpg&quot;)"
>
  <div class="sm:ml-[50px] sm:mt-[200px]">
    <h1 class="font-serif text-xl font-extrabold text-white sm:text-5xl md:text-7xl">
      The Vinyl World
    </h1>
  </div>
</div>
<div
  class="relative mx-0 mt-[-60px] rounded-md bg-slate-50 shadow-xl sm:mx-[30px]"
>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
