<app-navbar></app-navbar>
<div
  class="h-[200px] overflow-hidden bg-cover bg-center sm:h-[400px]"
  style="background-image: url(&quot;../assets/images/profile_city.jpg&quot;)"
>
  <div class="ml-[50px] mt-[80px] sm:mt-[200px]">
    <h1 class="font-serif text-4xl font-extrabold text-white sm:text-6xl">
      The Vinyl World
    </h1>
  </div>
</div>
<div
  class="relative mx-0 mt-[-60px] rounded-md bg-slate-50 shadow-xl sm:mx-[30px]"
>
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="w-full">
    &copy; The Vinyl Search | <a [routerLink]="'/privacy-policy'">Privacy</a>
  </div>
</footer>
