<div class="main main-raised">
  <br>
  <div class="ml-5 mr-5 mt-3 mb-3">
    <div class="row">
      <div class="col-sm-6 col-9">
        <div class="input-group">
          <input (focus)="loadAutoComplete($event)" (blur)="exitSearch()" (keyup)="loadAutoComplete($event)" type="text"
                 class="form-control"
                 placeholder="Search records..." name="search-query" [(ngModel)]="query">
          <button mat-button class="btn btn-default" type="button" (click)="search()">Search</button>
          <div *ngIf="(autocomplete | async)?.records.length > 0" style="background-color: #fff; left: 0;">
            <div
              style="z-index: 99; position: absolute; top: 100%; left: 0; right: 0; background-color: #fff; overflow: hidden">
              <table class="table table-hover table-bordered shadow">
                <tbody>
                <tr *ngFor="let r of (autocomplete | async)?.records">
                  <td>
                    <a [routerLink]="['/records', r.id, 'view']">
                      <strong>{{_.truncate(r.name, {length: 60})}}</strong>
                      <br>
                      <div class="blockquote-footer">
                        {{_.truncate(r.label, {length: 60})}}
                      </div>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="auth.isLoggedIn; else showLogin" class="col-sm-6 col-3">
        <div class="float-right">
          <button mat-button type="button" class="btn btn-default" routerLink="/records/new">
            Add
          </button>
        </div>
      </div>
      <div *ngIf="loader.isHidden() && !_.isEmpty(_.trim((route.queryParams | async)?.query))"
           class="ml-3 mr-5 mt-2 text-dark">
        Search results for - <em>{{_.truncate(query, {length: 100})}}</em> (<a [routerLink]="['/records']">cancel</a>)
      </div>
      <ng-template #showLogin>
        <div class="col-sm-6 col-3">
          <div class="float-right">
            <button mat-button type="button" class="btn btn-success" (click)="auth.login()">
              Login!
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <hr>
  <div class="row container-fluid">
    <div class="col-12 col-lg-3">
      <div class="container-fluid">
        <div class="card">
          <h5 class="card-header">
            Genres
            <button *ngIf="!_.isEmpty(genreFilters)" class="btn badge badge-pill badge-success m-1 float-right">✓
            </button>
          </h5>

          <div class="card-body">
            <ng-container *ngIf="!_.isEmpty(genreFilters)">
              <mat-chip-list>
                <mat-chip style="font-size: 10px" *ngFor="let g of genreFilters; let i = index">
                  {{g}}
                  <mat-icon matChipRemove (click)="genreFilters.splice(i,1); activateFilters()">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <hr>
            </ng-container>
            <div class="text-center">
              <button mat-button class="badge badge-success m-1 filter-buttons"
                      (click)="openFilter(objectKeys(genresJSON), 'genreFilters')">
                Select filters
              </button>
              <button mat-button *ngIf="!_.isEmpty(genreFilters)"
                      class="badge badge-success btn-sm m-1  filter-buttons"
                      (click)="genreFilters=[]; activateFilters()">
                Clear
                filters
              </button>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">
            Styles
            <button *ngIf="!_.isEmpty(styleFilters)"
                    class="btn badge badge-pill badge-success m-1 float-right">✓
            </button>
          </h5>

          <div class="card-body">
            <ng-container *ngIf="!_.isEmpty(styleFilters)">
              <mat-chip-list>
                <mat-chip style="font-size: 10px" *ngFor="let s of styleFilters; let i = index">{{s}}
                  <mat-icon matChipRemove (click)="styleFilters.splice(i,1); activateFilters()">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <hr>
            </ng-container>
            <div class="text-center">
              <button mat-button class="btn badge badge-success m-1  filter-buttons"
                      (click)="openFilter(getStyles(), 'styleFilters')">
                Select
                filters
              </button>
              <button mat-button *ngIf="!_.isEmpty(styleFilters)" class="btn badge badge-success m-1  filter-buttons"
                      (click)="styleFilters=[]; activateFilters()">
                Clear
                filters
              </button>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">
            Formats
            <button *ngIf="!_.isEmpty(formatFilters)"
                    class="btn badge badge-pill badge-success m-1 float-right">✓
            </button>
          </h5>

          <div class="card-body">
            <ng-container *ngIf="!_.isEmpty(formatFilters)">
              <mat-chip-list>
                <mat-chip style="font-size: 10px" *ngFor="let f of formatFilters; let i = index">{{f}}
                  <mat-icon (click)="formatFilters.splice(i,1); activateFilters()" matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <hr>
            </ng-container>
            <div class="text-center">
              <button class="btn badge badge-success m-1  filter-buttons"
                      (click)="openFilter(['Vinyl', 'Acetate', 'Flexi-Disc', 'Lathe Cut', 'Shellac', 'CD', 'DVD', 'Mini Disc',
                  'Cassette Tape', '4-Track Cartridge', '8-Track Cartridge', 'Other/Unknown'], 'formatFilters')">
                Select filters
              </button>
              <button mat-button *ngIf="!_.isEmpty(formatFilters)" class="btn badge badge-success m-1  filter-buttons"
                      (click)="formatFilters=[]; activateFilters()">
                Clear filters
              </button>
            </div>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-header">
            Country
            <button *ngIf="!_.isEmpty(countryFilters)"
                    class="btn badge badge-pill badge-success m-1 float-right">✓
            </button>
          </h5>
          <div class="card-body">
            <ng-container *ngIf="!_.isEmpty(countryFilters)">
              <mat-chip-list>
                <mat-chip style="font-size: 10px" *ngFor="let c of countryFilters; let i = index">
                  {{c}}
                  <mat-icon matChipRemove (click)="countryFilters.splice(i,1); activateFilters()">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <hr>
            </ng-container>
            <div class="text-center">
              <button mat-button class="btn badge badge-success m-1  filter-buttons"
                      (click)="openFilter(getCountries(), 'countryFilters')">
                Select filters
              </button>
              <button mat-button *ngIf="!_.isEmpty(countryFilters)" class="btn badge badge-success m-1  filter-buttons"
                      (click)="countryFilters=[]; activateFilters()">
                Clear filters
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Records cards-->
    <div class="col-12 col-lg-9">
      <app-loader #recordsloader></app-loader>
      <nav *ngIf="(records | async) && count > limit" aria-label="Page navigation">
        <mat-paginator showFirstLastButtons [length]="count"
                       [pageSize]="limit" [pageIndex]="page-1" (page)="changePage($event)"></mat-paginator>
      </nav>
      <div class="container">
        <div *ngIf="records | async as records" class="row">

          <div *ngFor="let r of records.records" class="col-lg-2 col-sm-4 col-6 p-2">
            <div class="card m-0 w-100">
              <div class="">
                <a [routerLink]="['/records', r.id, 'view']" class="thumbnail">
                  <div class="image" style="background-color: #d5d5d5">
                    <img style="object-fit: cover"

                         [src]="r.images[r.chosenImage] || '/assets/images/records-new-sample.svg'"
                         class="img img-responsive"/>
                  </div>
                  <h6 class="m-1 text-truncate">{{r.name}}</h6>
                  <p class="m-1 text-truncate">{{r.label}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <nav *ngIf="(records | async) && count > limit" aria-label="Page navigation">
        <mat-paginator showFirstLastButtons [length]="count"
                       [pageSize]="limit" [pageIndex]="page-1" (page)="changePage($event)"></mat-paginator>
      </nav>
    </div>
    <!--End records cards-->
  </div>
</div>

<!-- Filters Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-chip-list>
          <mat-chip style="font-size: 10px" *ngFor="let c of toChooseFrom; let i = index"
                    (click)="chosenTemp.push(c); chosenTemp=_.uniq(chosenTemp)">{{c}}
          </mat-chip>
        </mat-chip-list>
        <hr>
        <mat-chip-list>
          <mat-chip style="font-size: 10px" mat-chip *ngFor="let c of chosenTemp; let i = index">
            {{c}}
            <mat-icon matChipRemove (click)="chosenTemp.splice(i,1);">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="modal-footer">
        <button mat-button type="button" class="btn btn-primary" data-dismiss="modal"
                (click)="filtersChosen(); activateFilters()">Done
        </button>
      </div>
    </div>
  </div>
</div>

