<br />
<app-loader #postloader></app-loader>
<div class="w-full" [hidden]="!loader.isHidden()">
  <div class="mx-4 md:mx-[60px]">
    <h2>{{ title }}</h2>
    <hr />
    <ckeditor
      [editor]="Editor"
      [(ngModel)]="data"
      [config]="{ toolbar: [] }"
      [disabled]="true"
    ></ckeditor>
    <hr />
    @if ((user | async) && post && (user | async).uid === post.ownerUid) {
      <div class="flex gap-1">
        <button mat-raised-button type="button" (click)="deletePost()">
          Delete
        </button>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/forum', post.id, 'edit']"
          type="button"
        >
          Edit
        </button>
      </div>
    }
  </div>
  <div class="mx-4 md:ml-[20%] md:w-[80%]">
    <app-loader #commentloader></app-loader>
  </div>
  @if (comments.length > 0) {
    <div class="mx-4 md:ml-[20%] md:w-[80%]">
      @for (comment of comments; track comment) {
        <div>
          <ckeditor
            [editor]="Editor"
            [(ngModel)]="comment.postHTML"
            [config]="{ toolbar: [] }"
            [disabled]="true"
          ></ckeditor>
          @if (
            (user | async) && post && (user | async).uid === comment.ownerUid
          ) {
            <div>
              <button
                mat-raised-button
                type="button"
                data-toggle="modal"
                data-target="#deleteComment"
                (click)="deleteComment(comment._id)"
              >
                Delete
              </button>
            </div>
          }
          <hr />
        </div>
      }
    </div>
  }
  @if (!((user | async) && post)) {
    <div class="mx-4 md:ml-[20%] md:w-[80%]">
      Please login to comment on this post!
    </div>
  }
  @if ((user | async) && post && enableCommentSection) {
    <div class="mx-4 md:ml-[20%] md:w-[80%]">
      <app-forum-editor-component
        [is_reply]="true"
        [(data)]="comment_data"
      ></app-forum-editor-component>
      <br />
      @if ((user | async) && post && enableCommentSection) {
        <div class="flex gap-1">
          <button
            mat-raised-button
            [disabled]="imageProgress > 0 || editorDisabled"
            type="button"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="discardComment()"
          >
            Discard
          </button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="imageProgress > 0 || editorDisabled"
            (click)="saveComment()"
          >
            <span
              id="saveLoader"
              [hidden]="!(imageProgress > 0 || editorDisabled)"
              class="spinner-grow spinner-grow-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Save Comment
          </button>
        </div>
      }
    </div>
  }
</div>
<br />
