<div class="main main-raised">
  <br>
  <app-loader #postloader></app-loader>
  <div [hidden]="!loader.isHidden()">
    <div class="mt-3 col-sm-8 offset-2">
      <h2 aria-label="With textarea">{{title}}</h2>
      <hr>
      <ckeditor [editor]="Editor" [(ngModel)]="data" [config]="{toolbar: false}" [disabled]="true"></ckeditor>
      <hr>
    </div>
    <div class="mt-3 col-sm-8 offset-2">
      <div *ngIf="(user | async) && post && (user | async).uid===post.ownerUid">
        <button mat-raised-button type="button" data-toggle="modal" data-target="#delete">
          Delete
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/forum',post.id,'edit']" class="ml-1" type="button">
          Edit
        </button>
      </div>
    </div>
    <div class="mt-3 col-sm-7 offset-3">
      <app-loader #commentloader></app-loader>
    </div>
    <div class="mt-3 col-sm-7 offset-3" *ngIf="comments.length>0">
      <div *ngFor="let comment of comments">
        <ckeditor [editor]="Editor" [(ngModel)]="comment.postHTML" [config]="{toolbar: false}" [disabled]="true"></ckeditor>
        <div *ngIf="(user | async) && post && (user | async).uid===comment.ownerUid">
          <button mat-raised-button type="button" data-toggle="modal" data-target="#deleteComment" (click)="deleteComment(comment._id)">
            Delete
          </button>
        </div>
        <hr>
      </div>
    </div>

    <div class="mt-3 col-sm-7 offset-3" *ngIf="!((user | async) && post)">
      Please login to comment on this post!
    </div>
    <div class="mt-3 col-sm-7 offset-3" *ngIf="(user | async) && post && enableCommentSection">
      <app-forum-editor-component [is_reply]="true" [(data)]="comment_data"></app-forum-editor-component>
    </div>
    <div class="mt-3 col-sm-7 offset-3" *ngIf="(user | async) && post && enableCommentSection">
      <button mat-raised-button [disabled]="imageProgress > 0 || editorDisabled" type="button"
              data-toggle="modal" data-target="#exampleModal" (click)="discardComment()">
        Discard
      </button>
      <button mat-raised-button color="primary" class="ml-1" type="button" [disabled]="imageProgress > 0 || editorDisabled"
              (click)="saveComment()">
          <span id="saveLoader" [hidden]="!(imageProgress > 0 || editorDisabled)" class="spinner-grow spinner-grow-sm"
                role="status" aria-hidden="true"></span>
        Save Comment
      </button>
    </div>
  </div>
  <br>
</div>
<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>You are about to DELETE the post.</strong>
        <br>
        <em>Are you sure?</em>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>


