<div class="container-fluid">
  <div class="row">
    <ngb-carousel class="w-100">
      <ng-template ngbSlide>
        <img src="assets/images/home-records.png" class="w-100">
        <div class="carousel-caption">
          <h3>Find or showcase your favourite records</h3>
          <p>You can see what others have listed and you can showcase what you own as well.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/home-devices.png" class="w-100">
        <div class="carousel-caption">
          <h3>Looking for an genuine device or planning to sell yours?</h3>
          <p>You can look for listed devices</p>
          <p>If you want to sell one, we can do that too</p>
          <p>Searching for something specific? search in our database</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/home-auctions.png" class="w-100">
        <div class="carousel-caption">
          <h3>Want to have an auction and see where your listing stands?</h3>
          <p>You can hold auctions so others can bid</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="well">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Vinyl Search!</h1>
    <p class="lead">The one place to find, buy and see your records and recorders</p>
    <hr class="my-4">
    <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
    <!--<p class="lead">-->
      <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
    <!--</p>-->
  </div>
</div>

