<div class="main main-raised">
  <br>
  <app-loader #loader></app-loader>
  <div *ngIf="loader.isHidden()">
    <app-records-editor-component #editor (readyStateChange)="readyChange($event)"></app-records-editor-component>

    <div class="row col-12">
      <div class="col-12 col-sm-9 offset-3">
        <div class="container-fluid">
          <button mat-raised-button type="button" [routerLink]="['/records']"
                  [disabled]="!ready">Discard
          </button>
          <button mat-raised-button type="button" class="ml-1" color="primary"  (click)="save()" [disabled]="!ready">
            Save
          </button>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
