<div class="row container-fluid">
  <div class="col-12 col-sm-3">
    <div class="container-fluid">
      <div class="text-center">
        <br>
        <div class="sq-container">
          <div class="sq-content">
            <ngx-image-viewer [config]="imgvconfig"
                              [src]="_.isEmpty(recordObject.images) && ['/assets/images/records-new-sample.svg'] || recordObject.images"
                              [(index)]="recordObject.chosenImage"
                              (customEvent)="handleEvent($event)"></ngx-image-viewer>
          </div>
        </div>
      </div>
      <br>

      <div class="input-group mb-1">
        <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="addImage($event)"
                 accept='image/*' multiple>
          <label class="custom-file-label">Choose
            Files</label>
        </div>
      </div>
      <div *ngIf="uploadCount > 0" class="container-fluid">
        <div *ngFor="let p of percentages" class="progress mb-1">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="0"
               aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': (p | async)+'%'}"></div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div *ngFor="let image of recordObject.images; let i = index" class="col-lg-4 col-sm-6 col-12">
            <div class="m-1">
              <a (click)="recordObject.chosenImage=i" class="thumbnail">
                <div class="image" style="background-color: #d5d5d5">
                  <img style="object-fit: cover" [src]="image" class="img img-responsive"/>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-9">
    <div class="container-fluid">
      <br>
      <h1>{{editorTitle}}</h1>
      <hr>
      <form class="needs-validation" novalidate>
        <div class="form-group">
          <div class="row mb-1">
            <div class="col-4">
              <h4>Record Title</h4>
              <input type="text" class="form-control" placeholder="Record title" name="release-name"
                     [(ngModel)]="recordObject.name"
                     required>
              <div class="invalid-feedback">
                Enter record title
              </div>
            </div>

            <div class="col-4">
              <h4>Artist Name</h4>
              <input type="text" class="form-control" placeholder="Artist name" name="main-artist-name"
                     [(ngModel)]="recordObject.mainArtist">
              <div class="invalid-feedback">
                Enter record name
              </div>
            </div>

            <div class="col-4">
              <h4>Year</h4>
              <input name="release-date" [(ngModel)]="recordObject.date" type="text" class="form-control"
                     placeholder="YYYY-MM-DD"
                     pattern="([1-2]{1}[0-9]{3}){1}(-((0)?[1-9]|1[0-2])(-[0-9]{1,2})?)?">
              <div class="invalid-feedback">
                Please enter the year
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-1">
            <div class="col-6">
              <h4>Label</h4>
              <input type="text" class="form-control" placeholder="Label" name="release-label"
                     [(ngModel)]="recordObject.label"
                     required>
              <div class="invalid-feedback">
                Enter label name or use <em>Unlabelled</em>
              </div>
            </div>
            <div class="col-6">
              <h4>Catalog Number</h4>
              <input type="text" class="form-control" placeholder="Catalog No." name="release-catalog"
                     [(ngModel)]="recordObject.catalogNo"
                     required>
              <div class="invalid-feedback">
                Enter catalog number or use <em>NA</em>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <h4>Country of origin</h4>
              <select name="country" class="form-control" [(ngModel)]="recordObject.country" required="">
                <option *ngFor="let c of countriesJSON" [ngValue]="c.name">{{c.name}}</option>
              </select>
              <div class="invalid-feedback">
                Select the field
              </div>
            </div>
            <div class="col-2">
              <h4>Channels</h4>
              <select name="channel" class="form-control" [(ngModel)]="recordObject.channelCoding" required="">
                <option>Stereo</option>
                <option>Mono</option>
                <option>Pseudo Stereo</option>
                <option>Other/Unknown</option>
              </select>
              <div class="invalid-feedback">
                Select the field
              </div>
            </div>
            <div class="col-2">
              <h4>Format</h4>
              <select name="format" class="form-control" [(ngModel)]="recordObject.format" required="">
                <option>Vinyl</option>
                <option>Acetate</option>
                <option>Flexi-Disc</option>
                <option>Lathe Cut</option>
                <option>Shellac</option>
                <option>CD</option>
                <option>DVD</option>
                <option>Mini Disc</option>
                <option>Cassette Tape</option>
                <option>4-Track Cartridge</option>
                <option>8-Track Cartridge</option>
                <option>Other/Unknown</option>
              </select>
              <div class="invalid-feedback">
                Select the field
              </div>
            </div>
            <div class="col-2">
              <h4>Size</h4>
              <select name="size" class="form-control" [(ngModel)]="recordObject.size" required>
                <option></option>
                <option *ngFor="let c of sizesJSON">{{c}}</option>
                <option>Other</option>
              </select>
              <div class="invalid-feedback">
                Select the field
              </div>
            </div>
            <div class="col-2">
              <h4>Speed</h4>
              <select name="speed" class="form-control" [(ngModel)]="recordObject.speed" required>
                <option></option>
                <option *ngFor="let c of speedsJSON">{{c}}</option>
                <option>Other</option>
              </select>
              <div class="invalid-feedback">
                Select the field
              </div>
            </div>
          </div>
        </div>
        <br>
        <!---->
        <div class="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h4 class="card-title">Select Genres</h4>
            </div>

            <div class="card-body">
                <span *ngFor="let g of genres" class="btn badge badge-primary m-1"
                      (click)="selectGenre(g.name)">{{g.name}}</span>
              <br>
              <label><i class="btn btn-link" data-toggle="modal" data-backdrop="" data-target="#newgenre">(add
                missing)</i></label>
              <br>
              <span *ngFor="let g of recordObject.genres" class="btn badge badge-danger m-1"
                    (click)="selectGenre(g, true)">{{g}}<i class="material-icons">delete_outline</i></span>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h4 class="card-title">Styles</h4>
            </div>
            <div class="card-body">

              <span *ngIf="_.isEmpty(recordObject.genres)">Please select some genres</span>
              <label *ngIf="!_.isEmpty(recordObject.genres) && !_.isEmpty(styles)"><i class="btn btn-link"
                                                                                      data-toggle="modal"
                                                                                      data-backdrop=""
                                                                                      data-target="#allstyles">Show
                All Styles</i></label>
              <br *ngIf="!_.isEmpty(recordObject.genres) && !_.isEmpty(styles)">
              <label *ngIf="!_.isEmpty(recordObject.genres)"><i class="btn btn-link" data-toggle="modal"
                                                                data-backdrop=""
                                                                data-target="#newstyle">(add missing)</i></label>
              <br>
              <span *ngFor="let s of recordObject.styles" class="btn badge badge-danger m-1"
                    (click)="selectStyle(s, true)">{{s}}<i class="material-icons">delete_outline</i></span>
            </div>
          </div>
        </div>
        <!---->
        <!--TRACKS START-->
        <h2>Track List</h2>

        <div class="container col-12">
          <table class="table table-responsive">
            <thead>
            <tr>
              <th scope="col" class="w-auto">Position</th>
              <th scope="col" class="w-50">Artists</th>
              <th scope="col" class="w-50">Title/Credits</th>
              <th scope="col" class="w-auto">Duration</th>
              <th scope="col" class="w-auto">Options</th>
            </tr>
            </thead>
            <tbody #table id="bb">
            <tr *ngFor="let track of recordObject.tracks; let ti = index" style="cursor: all-scroll"
                id="track-row-{{ti}}">
              <td scope="row">
                <input type="text" class="form-control" placeholder="A:1/1" name="track-{{ti}}-index-{{i}}"
                       [(ngModel)]="track.index" required>
                <div class="invalid-feedback">
                  Index empty
                </div>
              </td>
              <td class="do-validate">
                <div class="form-group">
                  <div *ngFor="let artist of track.artists; let i = index" class="input-group mb-1">
                    <input type="text" class="form-control" placeholder="Artist" name="track-{{ti}}-artist-{{i}}"
                           [(ngModel)]="artist.name" required>
                    <button type="button" (click)="removeArtist(recordObject.tracks, ti, artist)"
                            class="btn btn-default btn-sm"><i class="material-icons">delete_outline</i></button>
                    <div class="invalid-feedback">
                      Enter name or remove the field
                    </div>


                  </div>
                  <div class="row mt-1">
                    <button (click)="addArtist(track)" class="btn btn-default btn-sm">
                      Artist<i class="material-icons">exposure_plus_1</i>
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control mb-1" placeholder="Title"
                         name="track-{{ti}}-title-{{i}}"
                         [(ngModel)]="track.title" required>
                  <div class="invalid-feedback">
                    Enter the song title
                  </div>
                  <div *ngFor="let credit of track.credits; let i = index" class="input-group mb-1">

                    <input type="text" class="form-control" placeholder="Credits"
                           name="track-{{ti}}-creadits-{{i}}"
                           [(ngModel)]="credit.text" required>
                    <button type="button" (click)="removeCredit(recordObject.tracks, ti, credit)"
                            class="btn btn-default btn-sm">
                      <i class="material-icons">delete_outline</i></button>
                    <div class="invalid-feedback">
                      Enter credits or remove the field
                    </div>
                  </div>
                  <div class="row mt-1">
                    <button (click)="addCredit(track)" class="btn btn-default btn-sm">
                      Credit<i class="material-icons">exposure_plus_1</i>
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="0:00" name="track-{{ti}}-duration-{{i}}"
                         [(ngModel)]="track.duration" pattern="[0-9]{1,2}:[0-9]{1,2}">
                </div>
              </td>
              <td>
                <div class="dropdown dropleft">
                  <button class="btn btn-default btn-sm" type="button" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">settings</i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a (click)="removeTrack(track)" class="btn btn-default dropdown-item">Remove</a>
                    <a (click)="insertTrackBefore(ti)" class="btn btn-default dropdown-item">Add Track Above</a>
                    <a (click)="insertTrackAfter(ti)" class="btn btn-default dropdown-item">Add Track Below</a>
                  </div>
                </div>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="row container">
          <button class="btn btn-default" (click)="appendTrack()">
            Track<i class="material-icons">exposure_plus_1</i>
          </button>
          <button class="btn btn-default ml-1" (click)="autoIndex()">
            Auto Index
          </button>
        </div>

        <!--TRACKS END-->
        <br>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Descriptions</h4>
          </div>
          <div class="card-body">
                <span *ngFor="let d of descr" class="btn badge badge-primary m-1"
                      (click)="selectDescr(d)">{{d}}</span>
            <hr *ngIf="!_.isEmpty(recordObject.descriptions)">
            <span *ngFor="let s of recordObject.descriptions" class="btn badge badge-danger m-1"
                  (click)="selectDescr(s, true)">{{s}}<i class="material-icons">delete_outline</i></span>
          </div>
        </div>
        <!---->
        <hr>
        <div class="form-group">
          <h4>Credits</h4>
          <div *ngFor="let credit of recordObject.commonCredits; let i = index" class="input-group mb-1">
            <input type="text" class="form-control" placeholder="Credits"
                   name="common-credits-{{i}}"
                   [(ngModel)]="credit.text" required>
            <button type="button" (click)="removeCommonCredit(credit)" class="btn btn-default btn-sm">
              <i class="material-icons">delete_outline</i></button>
            <div class="invalid-feedback">
              Enter credits or remove the field
            </div>
          </div>
          <div class="row container">
            <button (click)="addCommonCredit()" class="btn btn-default btn-sm">
              Credit<i class="material-icons">exposure_plus_1</i>
            </button>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <h4>Notes</h4>
          <textarea type="text" class="form-control" name="release-notes" [(ngModel)]="recordObject.notes"></textarea>
        </div>
      </form>
    </div>

  </div>
</div>


<!--MODALS-->
<div id="newgenre" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Genre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Genre name</label>
            <input type="text" class="form-control" name="newGenreName" [(ngModel)]="newGenreName" placeholder="Name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default m-1" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary m-1" data-dismiss="modal" (click)="addGenre()">Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div id="newstyle" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Style</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Style names</label>
            <textarea type="text" rows="5" class="form-control" name="newGenreName" [(ngModel)]="newStyleNames"
                      placeholder="Name">
            </textarea>
          </div>
          <div class="form-group">
            <label *ngIf="!_.isEmpty(newStyleNames)">These will be added</label>
            <br>
            <span *ngFor="let n of _.split(newStyleNames, '\n')" class="btn badge badge-primary m-1">{{_.startCase(_.lowerCase(n))}}</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default m-1" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary m-1" data-dismiss="modal" (click)="addStyle()">Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div id="allstyles" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select Styles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span *ngFor="let s of styles" class="btn badge badge-primary m-1"
              (click)="selectStyle(s)">{{s}}</span>
        <hr>
        <span *ngFor="let s of recordObject.styles" class="btn badge badge-danger m-1"
              (click)="selectStyle(s, true)">{{s}}<i class="material-icons">delete_outline</i></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
