<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="rounded mx-auto d-block" height="50%" width="50%" src="/assets/images/records-new-sample.svg"
             alt="">
        <div class="sharing-area">
          <button (click)="auth.loginFacebook()" class="btn btn-block btn-raised btn-facebook sharrre">
            <i class="fa fa-facebook-square"></i> Login with Facebook
            <div class="ripple-container"></div>
          </button>

          <button (click)="auth.loginGoogle()" class="btn btn-block btn-raised btn-google-plus sharrre">
            <i class="fa fa-google-plus"></i> Login with Google
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--NEW-->
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
     id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand card-title" href="/" style="font-size: 30px;">
        Vinyl.LK
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">library_music</i> Records
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a [routerLink]="'/records'" class="dropdown-item">
              <i class="material-icons">album</i> Browse Records
            </a>
            <a *ngIf="auth.isLoggedIn" [routerLink]="'/records/new'"
               class="dropdown-item">
              <i class="material-icons">content_paste</i> New Record
            </a>
          </div>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">bookmarks</i> Forum
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a [routerLink]="'/forum'" class="dropdown-item">
              <i class="material-icons">forum</i> Browse Forum
            </a>
            <a *ngIf="auth.isLoggedIn" [routerLink]="'/forum/editor'"
               class="dropdown-item">
              <i class="material-icons">content_paste</i> New Post
            </a>
          </div>
        </li>
        <ng-container *ngIf="auth.isLoggedIn; else showLogin">
          <li class="nav-item">
            <a *ngIf="_.get(auth, 'user.name', '')" class="nav-link" href="javascript:void(0)" [routerLink]="'/profile'">
              <img *ngIf="_.get(auth, 'user.picture', '')" class="img-thumbnail p-0 m-0" [src]="_.get(auth, 'user.picture', '')" alt="avatar" style="height: 20px; width: 20px; object-fit: cover; display: inline-block">
              Hi {{ _.get(auth, 'user.name', '').split(' ')[0] }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="auth.logout()">
              <i class="material-icons">exit_to_app</i> Logout
            </a>
          </li>
        </ng-container>
        <ng-template #showLogin>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="auth.login()">
              <i class="material-icons">person</i> Login/Register
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('../assets/images/profile_city.jpg'); height: 400px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">The Vinyl World</h1>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="footer footer-default">
  <div class="container">
    <div class="copyright">
      &copy; The Vinyl Search | <a [routerLink]="'/privacy-policy'">Privacy</a>
    </div>
  </div>
</footer>
