<nav class="navbar navbar-transparent fixed-top navbar-expand-lg" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand card-title" href="/" style="font-size: 30px;">
        Vinyl.LK
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">shopping_cart</i> Marketplace
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a [routerLink]="'/market'" class="dropdown-item close-nav-on-click">
              <i class="material-icons">shop</i> For Sale
            </a>
            <a *ngIf="auth.isLoggedIn && (user | async)?.roles.includes('Admin')" [routerLink]="'/market/new'"
               class="dropdown-item close-nav-on-click">
              <i class="material-icons">content_paste</i> New Sale
            </a>
          </div>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">library_music</i> Records
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a [routerLink]="'/records'" class="dropdown-item close-nav-on-click">
              <i class="material-icons">album</i> Browse Records
            </a>
            <a *ngIf="auth.isLoggedIn" [routerLink]="'/records/new'"
               class="dropdown-item close-nav-on-click">
              <i class="material-icons">content_paste</i> New Record
            </a>
          </div>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">bookmarks</i> Forum
          </a>
          <div class="dropdown-menu dropdown-with-icons">
            <a [routerLink]="'/forum'" class="dropdown-item close-nav-on-click">
              <i class="material-icons">forum</i> Browse Forum
            </a>
            <a *ngIf="auth.isLoggedIn" [routerLink]="'/forum/editor'"
               class="dropdown-item close-nav-on-click">
              <i class="material-icons">content_paste</i> New Post
            </a>
          </div>
        </li>
        <ng-container *ngIf="auth.isLoggedIn; else showLogin">
          <li class="nav-item">
            <a *ngIf="(user | async)?.roles.includes('Admin')" class="nav-link close-nav-on-click" href="javascript:void(0)"
               [routerLink]="'/admin'">
              <i class="material-icons">security</i> Admin
            </a>
          </li>
          <li class="nav-item">
            <a *ngIf="(user | async)?.picture" class="nav-link close-nav-on-click" href="javascript:void(0)" [routerLink]="'/profile'">
              <img *ngIf="(user | async)?.picture" class="img-thumbnail p-0 m-0" [src]="(user | async)?.picture"
                   alt="avatar" style="height: 20px; width: 20px; object-fit: cover; display: inline-block">
              Hi {{(user | async)?.given_name}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link close-nav-on-click" href="javascript:void(0)" (click)="auth.logout()">
              <i class="material-icons">exit_to_app</i> Logout
            </a>
          </li>
        </ng-container>
        <ng-template #showLogin>
          <li class="nav-item">
            <a class="nav-link close-nav-on-click" href="javascript:void(0)" (click)="auth.login()">
              <i class="material-icons">person</i> Login/Register
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('../assets/images/profile_city.jpg'); height: 400px">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">The Vinyl World</h1>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="footer footer-default">
  <div class="container">
    <div class="copyright">
      &copy; The Vinyl Search | <a [routerLink]="'/privacy-policy'">Privacy</a>
    </div>
  </div>
</footer>
