<hr>
<div class="container col-sm-8">
  <h3>Manage Records</h3>
  <hr>
  <app-loader [hidden]="!loading"></app-loader>
  <mat-list role="list">
    <mat-list-item *ngFor="let r of records" role="listitem">
      <img matListAvatar [src]="r.images[r.chosenImage] || '/assets/images/records-new-sample.svg'" alt="...">
      <h3 matLine>{{r.name}} - {{r.label}} - {{r.catalogNo}}</h3>
      <div class="row float-right" style="flex-wrap: nowrap;">
        <a target="_blank" [routerLink]="['/records',r.id,'view']" mat-button>
          <mat-icon>open_in_new</mat-icon>
        </a>
        <a mat-button>
          <mat-icon (click)="delete(r.id)">delete</mat-icon>
        </a>
      </div>
    </mat-list-item>
  </mat-list>
  <nav *ngIf="count > limit && !loading" aria-label="Page navigation">
    <mat-paginator showFirstLastButtons [length]="count" [pageSize]="limit" [pageIndex]="page-1"
                   (page)="changePage($event)"></mat-paginator>
  </nav>
</div>
