<hr>
<div class="container col-sm-8">
  <h3>Manage Records</h3>
  <hr>
  <app-loader [hidden]="!loading"></app-loader>
  <mat-list role="list">
    <mat-list-item *ngFor="let r of records" role="listitem">
      <img matListItemAvatar [src]="r.images[r.chosenImage] || '/assets/images/records-new-sample.svg'" alt="...">
      <h3 matListItemTitle>{{r.name}}</h3>
      <p matListItemLine>{{r.label}} - {{r.catalogNo}}
        <span style="float: right;">
          <a mat-icon-button target="_blank" color="primary" [routerLink]="['/records',r.id,'view']">
            <mat-icon style="vertical-align: baseline !important;"> open_in_new</mat-icon>
          </a>
          <button mat-icon-button color="primary" (click)="delete(r.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </p>
    </mat-list-item>
  </mat-list>
  <nav *ngIf="count > limit && !loading" aria-label="Page navigation">
    <mat-paginator showFirstLastButtons [length]="count" [pageSize]="limit" [pageIndex]="page-1"
      (page)="changePage($event)"></mat-paginator>
  </nav>
</div>