<br>
<div class="row col-12">
  <div class="col-10 col-lg-4">
    <div class="container">
      <div class="input-group">
        <input (focus)="loadAutoComplete($event)" (blur)="exitSearch()" (keyup)="loadAutoComplete($event)" type="text" class="form-control"
               placeholder="Search records..." aria-label="Search for records"
               aria-describedby="button-addon2" name="search-query" [(ngModel)]="query">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="button-addon2" (click)="search()">Search</button>
        </div>
        <div *ngIf="(autocomplete | async)?.records.length > 0" style="background-color: #fff; left: 0;">
          <div style="z-index: 99; position: absolute; top: 100%; left: 0; right: 0; background-color: #fff; overflow: hidden">
            <table class="table table-hover table-bordered shadow">
              <tbody>
              <tr *ngFor="let r of (autocomplete | async)?.records">
                <td>
                  <a [routerLink]="['/records', r.id, 'view']">
                    <strong>{{_.truncate(r.name, {length: 60})}}</strong>
                    <br>
                    <div class="blockquote-footer">
                      {{_.truncate(r.label, {length: 60})}}
                    </div>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="loader.isHidden() && !_.isEmpty(_.trim((route.queryParams | async)?.query))" class="ml-3 mr-5 mt-2 text-dark">
      Search results for - <em>{{_.truncate(query, {length: 100})}}</em> (<a [routerLink]="['/records']">cancel</a>)
    </div>
  </div>
  <div class="col-2 col-lg-8">
      <div *ngIf="auth.isLoggedIn; else showLogin">
        <div class="float-right">
          <button type="button" class="btn btn-secondary" routerLink="/records/new">
            Add
          </button>
        </div>
      </div>
      <ng-template #showLogin>
          <div class="float-right">
            <button type="button" class="btn btn-success" (click)="auth.login()">
              Login to post!
            </button>
          </div>
      </ng-template>
  </div>
</div>
<hr>
<div class="row container-fluid">
  <div class="col-12 col-lg-3">
    <div class="container-fluid">
      <div class="card">
        <h5 class="card-header" data-toggle="collapse" data-target="#collapseGenres"
            aria-expanded="false" aria-controls="collapseGenres">
          Genre
        </h5>

        <div id="collapseGenres" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <ul class="list-group">
            <li *ngFor="let key of objectKeys(genresJSON)" class="list-group-item text-left text-truncate">
              <span class="badge badge-primary float-right badge-pill">14</span><input type="checkbox" aria-label="">
              {{key}}
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="card">
        <h5 class="card-header" data-toggle="collapse" data-target="#collapseStyles"
            aria-expanded="false" aria-controls="collapseGenres">
          Style
        </h5>

        <div id="collapseStyles" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <ul class="list-group">
            <li *ngFor="let key of objectKeys(genresJSON)" class="list-group-item text-left text-truncate">
              <span class="badge badge-primary float-right badge-pill">14</span><input type="checkbox" aria-label="">
              {{key}}
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="card">
        <h5 class="card-header" data-toggle="collapse" data-target="#collapseFormats"
            aria-expanded="false" aria-controls="collapseFormats">
          Format
        </h5>

        <div id="collapseFormats" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <ul class="list-group">
            <li *ngFor="let key of objectKeys(genresJSON)" class="list-group-item text-left text-truncate">
              <span class="badge badge-primary float-right badge-pill">14</span><input type="checkbox" aria-label="">
              {{key}}
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="card">
        <h5 class="card-header" data-toggle="collapse" data-target="#collapseCountries"
            aria-expanded="false" aria-controls="collapseCountries">
          Country
        </h5>

        <div id="collapseCountries" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <ul class="list-group">
            <li *ngFor="let country of countriesJSON" class="list-group-item text-left text-truncate">
              <span class="badge badge-primary float-right badge-pill">14</span><input type="checkbox" aria-label="">
              {{country.name}}
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="card">
        <h5 class="card-header" data-toggle="collapse" data-target="#collapseDecades"
            aria-expanded="false" aria-controls="collapseDecades">
          Decade
        </h5>

        <div id="collapseDecades" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <ul class="list-group">
            <li *ngFor="let decade of decadesJSON" class="list-group-item text-left text-truncate">
              <span class="badge badge-primary float-right badge-pill">14</span><input type="checkbox" aria-label="">
              {{decade}}
            </li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="col-12 col-lg-9">
    <app-loader #recordsloader></app-loader>
    <div class="container">
      <div *ngIf="records | async as records" class="row">

        <div *ngFor="let r of records.records" class="col-lg-2 col-sm-4 col-6">
          <div class="card" style="width: 100%; margin-bottom: 10px">
            <div class="">
              <a [routerLink]="['/records', r.id, 'view']" class="thumbnail">
                <div class="image" style="background-color: #d5d5d5">
                  <img style="object-fit: cover" [src]="r.images[r.chosenImage] || '/assets/images/records-new-sample.svg'" class="img img-responsive" />
                </div>
                <h6 class="m-1 text-truncate">{{r.name}}</h6>
                <p class="m-1 text-truncate">{{r.label}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <nav *ngIf="count > limit && loader.isHidden()" aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a (click)="previousPage()" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a (click)="nextPage()" class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

