<hr>
<div class="container col-sm-8 offset-2">
  <h3>Personal Information</h3>
  <div [formGroup]="form">
    <hr>
    <mat-form-field class="w-100">
      <input matInput placeholder="Enter your first name" formControlName="firstName" required>
      <mat-error *ngIf="form.controls['firstName'].invalid">Please enter a valid first name</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="w-100">
      <input matInput placeholder="Enter your last name" formControlName="lastName" required>
      <mat-error *ngIf="form.controls['firstName'].invalid">Please enter a valid last name</mat-error>
    </mat-form-field>
    <button *ngIf="form.dirty" mat-button (click)="discardDetails()" class="btn btn-default btn-sm m-1">Cancel</button>
    <button *ngIf="form.dirty" mat-button class="btn btn-primary btn-sm m-1" (click)="updateDetails()">Update</button>
    <br>
  </div>
    <hr>
  <h3>Update Profile Picture</h3>
  <img *ngIf="uploadImageUrl" [src]="uploadImageUrl" class="img-thumbnail">
  <div *ngIf="uploadImageUrl===null && !uploading" class="form-group">
    <label class="btn btn-default btn-sm" for="profilePicture"><strong>Click To Upload</strong></label>
    <input id="profilePicture" type="file" class="form-control-file" (change)="addImage($event)" accept='image/*'>
  </div>
  <br>
  <mat-progress-bar *ngIf="uploading" mode="determinate" value="{{uploadingProgress}}"></mat-progress-bar>
  <button *ngIf="uploadImageUrl" mat-button (click)="uploadImageUrl=null; uploadableFile=null;" class="btn btn-default btn-sm m-1">Cancel</button>
  <button *ngIf="uploadImageUrl" mat-button class="btn btn-primary btn-sm m-1" (click)="upload()">Upload</button>
  <br>
  <br>
</div>
