<hr />
<app-loader #loader></app-loader>
<mat-list role="list" class="mx-auto max-w-[800px]">
  @for (p of posts; track p) {
    <mat-list-item role="listitem" class="hover:bg-slate-100">
      <img
        matListItemAvatar
        [src]="'/assets/images/records-new-sample.svg'"
        alt="..."
      />
      <h3 matListItemTitle>{{ p.postTitle }}</h3>
      <p matListItemLine>
        posted on: {{ p.createdAt | date: "medium" }}
        <span class="absolute top-0 right-0 h-full pt-[12px]">
          <button
            mat-icon-button
            target="_blank"
            color="primary"
            [routerLink]="['/forum', p.id, 'view']"
          >
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="delete(p.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </p>
    </mat-list-item>
  }
</mat-list>
@if (count > limit && loader.isHidden()) {
  <nav aria-label="Page navigation">
    <mat-paginator
      showFirstLastButtons
      [length]="count"
      [pageSize]="limit"
      [pageIndex]="page - 1"
      (page)="changePage($event)"
    ></mat-paginator>
  </nav>
}
