<div
  [appToggleFullscreen]="fullscreen"
  class="img-container"
  [style.backgroundColor]="config.containerBackgroundColor"
  (wheel)="scrollZoom($event)"
  (dragover)="onDragOver($event)"
  >
  <img
    [src]="src[index]"
    [ngStyle]="style"
    alt="Image not found..."
    (dragstart)="onDragStart($event)"
    (load)="onLoad()"
    (loadstart)="onLoadStart()"
    />
  <!-- Div below will be used to hide the 'ghost' image when dragging -->
  <div></div>
  @if (loading) {
    <div class="spinner-overlay">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  }
  @if (config.btnShow.rotateCounterClockwise) {
    <button
      mat-mini-fab
      type="button"
      [ngClass]="config.btnClass"
      color="primary"
      (click)="rotateCounterClockwise()"
      >
      <mat-icon>{{ config.btnIcons!.rotateCounterClockwise }}</mat-icon>
    </button>
  }
  @if (config.btnShow.rotateClockwise) {
    <button
      mat-mini-fab
      type="button"
      [ngClass]="config.btnClass"
      color="primary"
      (click)="rotateClockwise()"
      >
      <mat-icon>{{ config.btnIcons!.rotateClockwise }}</mat-icon>
    </button>
  }
  @if (config.btnShow.zoomOut) {
    <button
      mat-mini-fab
      type="button"
      [ngClass]="config.btnClass"
      color="primary"
      (click)="zoomOut()"
      >
      <mat-icon>{{ config.btnIcons!.zoomOut }}</mat-icon>
    </button>
  }
  @if (config.btnShow.zoomIn) {
    <button
      mat-mini-fab
      type="button"
      [ngClass]="config.btnClass"
      color="primary"
      (click)="zoomIn()"
      >
      <mat-icon>{{ config.btnIcons!.zoomIn }}</mat-icon>
    </button>
  }
  @for (cBtn of config.customBtns; track cBtn) {
    <button
      mat-mini-fab
      type="button"
      [ngClass]="config.btnClass"
      color="primary"
      (click)="fireCustomEvent(cBtn.name, index)"
      >
      <mat-icon>{{ cBtn.icon }}</mat-icon>
    </button>
  }
  @if (config.allowFullscreen) {
    <button
      mat-mini-fab
      type="button"
      id="ngx-fs-btn"
      [ngClass]="config.btnClass"
      color="primary"
      (click)="toggleFullscreen()"
      >
      @if (fullscreen) {
        <mat-icon>{{
          config.btnIcons!.fullscreenExit
        }}</mat-icon>
      }
      @if (!fullscreen) {
        <mat-icon>{{ config.btnIcons!.fullscreen }}</mat-icon>
      }
    </button>
  }
  @if (src.length > 1) {
    <div class="nav-button-container">
      <button
        mat-mini-fab
        [ngClass]="config.btnClass"
        color="primary"
        type="button"
        (click)="prevImage($event)"
        [disabled]="index === 0"
        >
        <mat-icon>{{ config.btnIcons!.prev }}</mat-icon>
      </button>
      <button
        mat-mini-fab
        [ngClass]="config.btnClass"
        color="primary"
        type="button"
        (click)="nextImage($event)"
        [disabled]="index === src.length - 1"
        >
        <mat-icon>{{ config.btnIcons!.next }}</mat-icon>
      </button>
    </div>
  }
</div>
