<!--<div *ngFor="let post of posts" class="container col-sm-12 m-1">-->
<!--<form class="form-inline">-->
<!--<div class="form-group mb-2">-->
<!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">-->
<!--Publish new post!-->
<!--</button>-->
<!--</div>-->
<!--<div class="form-group mx-sm-3 mb-2">-->
<!--<label for="search-forum" class="sr-only">Search</label>-->
<!--<input type="password" class="form-control" id="search-forum" placeholder="Search">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-primary mb-2">Search</button>-->
<!--</form>-->
<!--</div>-->
<img src="assets/images/forum-banner.png" class="w-100">
<app-loader #forumloader></app-loader>
<div *ngFor="let post of posts" class="m-1">
  <div class="card w-100">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-1">
          <img src="{{post.ownerPic}}" style="max-width: 64px; max-height: 64px" class="mr-3" alt="...">
        </div>
        <div class="col-sm-11">
          <a routerLink="/forum/{{post.id}}/view"><h3 class="card-title">{{post.postTitle}}</h3></a>
          <h6 class="card-subtitle mb-2 text-muted">By {{post.ownerName}}</h6>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>


<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->


<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade col-sm-12" id="exampleModal" tabindex="-1" role="banner" aria-labelledby="exampleModalLabel"-->
<!--aria-hidden="true">-->
<!--<div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="height: 80%; width: 80%">-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<h5 class="modal-title" id="exampleModalLabel">New Forum Post</h5>-->
<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--<span aria-hidden="true">&times;</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->

<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--<button (click)="save()" type="button" class="btn btn-primary">Save changes</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


