<div class="mt-[-60px] mx-[30px] relative bg-slate-50 rounded-md shadow-xl">
  <div class="container">
    <div class="section text-center pb-0">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">Welcome to Vinyl Search</h2>
          <h5 class="description">Sri Lanka's first every one stop to search, archive and sell/buy music records. We
            also
            provides
            forum to discuss matters and help to interact with the vinyl loving community of Sri Lanka.</h5>
        </div>
      </div>

      <div class="features">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="'/records'">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">album</i>
                </div>
                <h4 class="info-title">Records</h4>
                <p>Check the records that we have in our database.</p>
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a [routerLink]="'/forum'">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">forum</i>
                </div>
                <h4 class="info-title">Forum</h4>
                <p>See what's happening and interact with the community.</p>
              </div>
            </a>
          </div>
          <!--<div class="col-md-4">-->
          <!--<div class="info">-->
          <!--<div class="icon icon-danger">-->
          <!--<i class="material-icons">forum</i>-->
          <!--</div>-->
          <!--<h4 class="info-title">Forum</h4>-->
          <!--<p>Have you got any questions or looking for an old record player? This is the right place for you.</p>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <hr>
      <div class="features">
        <div class="row">
          <div class="col-md-12">
            <p class="h1">Take the advantage <br> Advertise for FREE!!</p>
            <blockquote class="h3">
              <p class="mb-0 text-danger">Are you planning to sell some equipment, records or anything related to music? Head
                straight to our selling page.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-contacts mt-0 pt-0">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto mt-0">
          <h2 class="text-center title">Get in touch with us</h2>
          <h4 class="text-center description">Register with and find out more. We are growing with new feature in
            future.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<footer class="footer footer-default">-->
<!--<div class="container">-->
<!--<nav class="float-left">-->
<!--<ul>-->
<!--<li>-->
<!--<a href="https://www.creative-tim.com">-->
<!--Creative Tim-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="https://creative-tim.com/presentation">-->
<!--About Us-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="http://blog.creative-tim.com">-->
<!--Blog-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="https://www.creative-tim.com/license">-->
<!--Licenses-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!--<div class="copyright float-right">-->
<!--&copy;-->
<!--<script>-->
<!--document.write(new Date().getFullYear())-->
<!--</script>-->
<!--, made with <i class="material-icons">favorite</i> by-->
<!--<a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
