<hr />
<div class="mx-auto max-w-[800px]">
  <h3>Personal Information</h3>
  <div [formGroup]="form">
    <hr />
    <mat-form-field class="w-full">
      <input
        matInput
        placeholder="Enter your first name"
        formControlName="firstName"
        required
      />
      @if (form.controls["firstName"].invalid) {
        <mat-error>Please enter a valid first name</mat-error>
      }
    </mat-form-field>
    <br />
    <mat-form-field class="w-full">
      <input
        matInput
        placeholder="Enter your last name"
        formControlName="lastName"
        required
      />
      @if (form.controls["lastName"].invalid) {
        <mat-error>Please enter a valid last name</mat-error>
      }
    </mat-form-field>
    @if (form.dirty) {
      <button mat-raised-button (click)="discardDetails()">Cancel</button>
    }
    @if (form.dirty) {
      <button
        mat-raised-button
        color="primary"
        class="ml-1"
        (click)="updateDetails()"
      >
        Update
      </button>
    }
    <br />
  </div>
  <hr />
  <h3>Update Profile Picture</h3>
  <div class="w-full">
    @if (uploadImageUrl) {
      <img
        ngClass="max-h-[300px] aspect-square mx-auto rounded-full border-black border-2"
        [src]="uploadImageUrl"
      />
    }
  </div>
  @if (uploadImageUrl === null && !uploading) {
    <div class="form-group">
      <button
        (click)="profilePicture.click()"
        mat-raised-button
        color="primary"
      >
        Upload
      </button>
      <input
        #profilePicture
        id="profilePicture"
        type="file"
        hidden
        (change)="addImage($event)"
        accept="image/*"
      />
    </div>
  }
  <br />
  @if (uploading) {
    <mat-progress-bar
      mode="determinate"
      value="{{ uploadingProgress }}"
    ></mat-progress-bar>
  }
  <div class="mb-3">
    @if (uploadImageUrl) {
      <button
        mat-raised-button
        (click)="uploadImageUrl = null; uploadableFile = null"
      >
        Cancel
      </button>
    }
    @if (uploadImageUrl) {
      <button mat-raised-button color="primary" class="ml-1" (click)="upload()">
        Upload
      </button>
    }
  </div>
</div>
