<div class="main main-raised">
  <br>
  <div class="ml-5 mr-5 mt-3 mb-3">
    <!--Search-->
    <div class="row">
      <div class="col-sm-6 col-9">
        <div class="input-group">
          <input (focus)="loadAutoComplete($event)" (blur)="exitSearch()" (keyup)="loadAutoComplete($event)" type="text"
                 class="form-control"
                 placeholder="Search records..." name="search-query" [(ngModel)]="query">
          <button mat-button class="btn btn-default" type="button" (click)="search()">Search</button>
          <div *ngIf="(autocomplete | async)?.records.length > 0" style="background-color: #fff; left: 0;">
            <div
              style="z-index: 99; position: absolute; top: 100%; left: 0; right: 0; background-color: #fff; overflow: hidden">
              <table class="table table-hover table-bordered shadow">
                <tbody>
                <tr *ngFor="let r of (autocomplete | async)?.records">
                  <td>
                    <a [routerLink]="['/records', r.id, 'view']">
                      <strong>{{_.truncate(r.name, {length: 60})}}</strong>
                      <br>
                      <div class="blockquote-footer">
                        {{_.truncate(r.label, {length: 60})}}
                      </div>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="auth.isLoggedIn; else showLogin" class="col-sm-6 col-3">
        <div class="float-right">
          <button mat-button type="button" class="btn btn-default" routerLink="/records/new">
            Add
          </button>
        </div>
      </div>
      <div *ngIf="loader.isHidden() && !_.isEmpty(_.trim((route.queryParams | async)?.query))"
           class="ml-3 mr-5 mt-2 text-dark">
        Search results for - <em>{{_.truncate(query, {length: 100})}}</em> (<a [routerLink]="['/records']">cancel</a>)
      </div>
      <ng-template #showLogin>
        <div class="col-sm-6 col-3">
          <div class="float-right">
            <button mat-button type="button" class="btn btn-success" (click)="auth.login()">
              Login!
            </button>
          </div>
        </div>
      </ng-template>
    </div>
    <!--End Search-->
  </div>
  <hr>
  <div class="row container-fluid">
    <div class="col-12 col-lg-3">
      <div class="container-fluid">
        <!--Filters-->
        <mat-accordion multi>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter by Genre {{genreFilters.length > 0 ? "(" + genreFilters.length + ")": ""}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <hr>
            <button mat-raised-button color="primary" class="btn-block"
                    (click)="openFilter(objectKeys(genresJSON), 'genreFilters')">
              Select filters
            </button>
            <button mat-raised-button *ngIf="!_.isEmpty(genreFilters)"
                    class="btn-block" color="warn"
                    (click)="genreFilters=[]; activateFilters()">
              Clear filters
            </button>

          </mat-expansion-panel>

          <br>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter by Style {{styleFilters.length > 0 ? "(" + styleFilters.length + ")": ""}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <hr>
            <button mat-raised-button color="primary" class="btn-block"
                    (click)="openFilter(getStyles(), 'styleFilters')">
              Select filters
            </button>
            <button mat-raised-button *ngIf="!_.isEmpty(styleFilters)"
                    class="btn-block" color="warn"
                    (click)="styleFilters=[]; activateFilters()">
              Clear filters
            </button>
          </mat-expansion-panel>

          <br>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter by Format {{formatFilters.length > 0 ? "(" + formatFilters.length + ")": ""}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <hr>
            <button mat-raised-button color="primary" class="btn-block"
                    (click)="openFilter(['Vinyl', 'Acetate', 'Flexi-Disc', 'Lathe Cut', 'Shellac', 'CD', 'DVD', 'Mini Disc',
                  'Cassette Tape', '4-Track Cartridge', '8-Track Cartridge', 'Other/Unknown'], 'formatFilters')">
              Select filters
            </button>
            <button mat-raised-button *ngIf="!_.isEmpty(formatFilters)"
                    class="btn-block" color="warn"
                    (click)="formatFilters=[]; activateFilters()">
              Clear filters
            </button>
          </mat-expansion-panel>

          <br>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter by Country {{countryFilters.length > 0 ? "(" + countryFilters.length + ")": ""}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <hr>
            <button mat-raised-button color="primary" class="btn-block"
                    (click)="openFilter(getCountries(), 'countryFilters')">
              Select filters
            </button>
            <button mat-raised-button *ngIf="!_.isEmpty(countryFilters)"
                    class="btn-block" color="warn"
                    (click)="countryFilters=[]; activateFilters()">
              Clear filters
            </button>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>

        </mat-accordion>
        <br>
      </div>
    </div>
    <!--End filters-->
    <!--Records cards-->
    <div class="col-12 col-lg-9">
      <app-loader #recordsloader></app-loader>
      <nav *ngIf="(records | async) && count > limit" aria-label="Page navigation">
        <mat-paginator showFirstLastButtons [length]="count"
                       [pageSize]="limit" [pageIndex]="page-1" (page)="changePage($event)"></mat-paginator>
      </nav>
      <div class="container">
        <div *ngIf="records | async as records" class="row">

          <div *ngFor="let r of records.records" class="col-lg-2 col-sm-4 col-6 p-2">
            <div class="card m-0 w-100">
              <div class="">
                <a [routerLink]="['/records', r.id, 'view']" class="thumbnail">
                  <div class="image" style="background-color: #d5d5d5">
                    <img style="object-fit: cover"

                         [src]="r.images[r.chosenImage] || '/assets/images/records-new-sample.svg'"
                         class="img img-responsive"
                         (error)="r.images[r.chosenImage]=null"/>
                  </div>
                  <h6 class="m-1 text-truncate">{{r.name}}</h6>
                  <p class="m-1 text-truncate">{{r.label}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <nav *ngIf="(records | async) && count > limit" aria-label="Page navigation">
        <mat-paginator showFirstLastButtons [length]="count"
                       [pageSize]="limit" [pageIndex]="page-1" (page)="changePage($event)"></mat-paginator>
      </nav>
    </div>
    <!--End records cards-->
  </div>
</div>
