<br />
<!--Search-->
<div class="mx-4 flex justify-between flex-wrap">
  <div class="flex flex-wrap w-full">
    <mat-form-field
      class="grow max-w-[500px]"
      style="height: 60px; margin-right: 10px"
      >
      <input
        matInput
        class="-translate-y-[10px]"
        (focus)="loadAutoComplete($event)"
        (blur)="exitSearch()"
        (keyup)="loadAutoComplete($event)"
        type="text"
        placeholder="Search forum..."
        name="search-query"
        [(ngModel)]="query"
        />
    </mat-form-field>
    <div class="flex justify-between grow">
      <button mat-raised-button color="primary" (click)="search()">
        Search
      </button>
      <button mat-raised-button color="primary" routerLink="/forum/editor">
        New
      </button>
    </div>
    @if ((autocomplete | async)?.posts.length > 0) {
      <div
        style="background-color: #fff; left: 0"
        >
        <div
          style="
          z-index: 99;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: #fff;
          overflow: hidden;
          "
          >
          <table class="table table-hover table-bordered shadow">
            <tbody>
              @for (p of (autocomplete | async)?.posts; track p) {
                <tr>
                  <td>
                    <a [routerLink]="['/forum', p.id, 'view']">
                      <strong>{{ _.truncate(p.postTitle, { length: 60 }) }}</strong>
                      <br />
                      <em>
                        Posted by {{ _.truncate(p.ownerName, { length: 60 }) }}
                      </em>
                    </a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    }
  </div>
</div>
<!--End Search-->
@if (
  !loading && !_.isEmpty(_.trim(_.get(route.queryParams | async, 'query')))
  ) {
  <div
    class="ml-5 mr-5 mt-1 mb-2 text-dark"
    >
    Search results for - <em>{{ _.truncate(query, { length: 100 }) }}</em> (<a
    [routerLink]="['/forum']"
    >cancel</a
    >)
  </div>
}
<div class="flex flex-col md:flex-row">
  <div class="w-full md:w-1/4 p-2">
    <mat-card>
      <mat-card-content>
        <h4 class="font-medium">Welcome to our forum!</h4>
        <hr />
        <p class="font-normal">
          This is your arena for technical and general discussions. We have
          enabled comment facility to provide a better user experience. Stay
          tuned for more features soon!.
        </p>
        <p class="font-extralight">Be constructive, respectful and positive.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="w-full md:w-3/4 p-2">
    @if (loading) {
      <app-loader [loading]="true"></app-loader>
    } @else {
      <mat-card>
        <mat-card-content>
          <mat-list class="p-0">
            @for (post of $any(posts); track $index) {
              <mat-list-item
                role="listitem"
                [routerLink]="[post.id, 'view']"
                class="hover:bg-slate-100"
                style="cursor: pointer !important"
                >
                <img
                  matListItemAvatar
                  src="/assets/images/records-new-sample.svg"
                  />
                <h3 matListItemTitle>{{ post.postTitle }}</h3>
                <p matListItemLine>
                  posted on: {{ post.createdAt | date: "medium" }}
                </p>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
@if (!loading) {
  <nav>
    <mat-paginator
      class="bg-slate-50"
      showFirstLastButtons
      [length]="count"
      [pageSize]="limit"
      [pageIndex]="page - 1"
      (page)="changePage($event)"
    ></mat-paginator>
  </nav>
}
