.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  object-fit: cover;
}
.image img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sq-container {
  background-color: black;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.sq-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-backdrop {
  z-index: -1 !important;
}
