<br />
@if (loading) {
  <app-loader [loading]="true"></app-loader>
} @else {
  <div class="w-full">
    <div class="mx-4 md:mx-[60px]">
      <app-forum-editor-component
        [(imageProgress)]="imageProgress"
        [(title)]="title"
        [(data)]="data"
        [editorDisabled]="editorDisabled"
      ></app-forum-editor-component>
      <hr />
      <div class="flex flex-row gap-1">
        <button
          mat-raised-button
          [disabled]="imageProgress > 0 || editorDisabled"
          type="button"
          (click)="discardPost()"
        >
          {{ newMode ? "Discard" : "Delete" }}
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="imageProgress > 0 || editorDisabled"
          (click)="savePost()"
        >
          <span
            id="saveLoader"
            [hidden]="!(imageProgress > 0 || editorDisabled)"
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          {{ newMode ? "Save" : "Update" }}
        </button>
      </div>
    </div>
  </div>
}
<br />
