<br />
<app-loader [hidden]="!!recordObject"></app-loader>
@if (recordObject) {
  <div>
    <app-records-editor-component
      (readyStateChange)="readyChange($event)"
      #editor
      [editorTitle]="'Update release details'"
      [(record)]="recordObject"
    ></app-records-editor-component>
    <div class="w-full">
      <div class="relative md:left-1/3 flex flex-row gap-1 p-2">
        <mat-form-field class="w-100">
          <textarea
            matInput
            placeholder="Revision comments"
            [formControl]="revisionComments"
            required
          >
          </textarea>
          <mat-error>
            Please enter a comment describing your revision
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="w-full">
      <div class="relative md:left-1/3 flex flex-row gap-1 p-2">
        <button
          mat-raised-button
          type="button"
          [routerLink]="['/records', recordObject.id, 'view']"
          [disabled]="!ready"
        >
          Discard
        </button>
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="save()"
          [disabled]="!ready"
        >
          Save
        </button>
      </div>
    </div>
  </div>
}
